## 1. Import Necessary libraries

In [ ]:
import pandas as pd

## 2. Import data

In [ ]:
user_data = pd.read_csv('Movie.csv')
user_data

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

## 3. Data Understanding

In [ ]:
user_data.shape

(8992, 3)

In [ ]:
user_data.isna().sum()

userId    0
movie     0
rating    0
dtype: int64

In [ ]:
user_data.describe(include='all')

             userId             movie       rating
count   8992.000000              8992  8992.000000
unique          NaN                10          NaN
top             NaN  Toy Story (1995)          NaN
freq            NaN              2569          NaN
mean    3521.880116               NaN     3.557162
std     2012.497384               NaN     0.967071
min        1.000000               NaN     0.500000
25%     1779.000000               NaN     3.000000
50%     3530.000000               NaN     3.500000
75%     5213.250000               NaN     4.000000
max     7120.000000               NaN     5.000000

In [ ]:
user_data['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [ ]:
user_data['userId'].nunique()

4081

In [ ]:
user_data['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [ ]:
user_data['movie'].nunique()

10

## 4. Data Preparation

In [ ]:
corr_recommendation = pd.pivot_table(data = user_data,values='rating',index='movie',columns='userId').fillna(0)
corr_recommendation

userId,1,2,3,4,5,6,7,8,10,11,...,7105,7107,7108,7110,7113,7115,7116,7117,7119,7120
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
corr_recommendation.columns = user_data['userId'].unique()
corr_recommendation

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 1. Using Correlation as a Metric for UBCF

In [ ]:
corr_recommendation.corr().round(2)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
6,-0.11,1.00,-0.11,-0.16,-0.11,0.28,0.67,0.56,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,-0.11,-0.17,0.35,-0.11,-0.22
8,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
10,-0.16,-0.16,-0.16,1.00,-0.16,-0.31,-0.25,0.48,-0.16,0.24,...,0.78,-0.16,-0.16,-0.25,0.99,-0.16,-0.25,0.48,-0.16,-0.32
11,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,-0.11,-0.11,-0.11,-0.16,-0.11,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,1.00,0.61,-0.35,-0.11,-0.22
7070,-0.17,-0.17,0.72,-0.25,-0.17,0.33,-0.25,0.13,0.72,0.58,...,-0.17,0.72,-0.17,0.42,-0.25,0.61,1.00,0.04,0.72,0.30
7080,-0.35,0.35,0.35,0.48,-0.35,0.54,0.40,0.81,0.35,0.41,...,0.18,0.35,-0.35,0.00,0.53,-0.35,0.04,1.00,0.35,0.14
7087,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
7105,0.48,-0.22,0.57,-0.32,0.48,0.67,0.20,-0.05,0.57,0.41,...,-0.22,0.57,0.48,0.78,-0.33,-0.22,0.30,0.14,0.57,1.00

In [ ]:
user_data[user_data['userId'] == 3]

   userId             movie  rating
0       3  Toy Story (1995)     4.0

In [ ]:
user_data[user_data['userId'] == 11]

      userId             movie  rating
4         11  Toy Story (1995)     4.5
7446      11  GoldenEye (1995)     2.5

In [ ]:
user_data[user_data['userId'] == 16]

      userId             movie  rating
8         16  Toy Story (1995)     3.0
5207      16       Heat (1995)     3.0

In [ ]:
user_data[user_data['userId'] == 8]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

In [ ]:
user_data[(user_data['userId'] == 8) | (user_data['userId'] == 16)]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
8         16         Toy Story (1995)     3.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
5207      16              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

### 2. Using Euclideon distance as a Metric for UBCF

In [ ]:
from sklearn.metrics import pairwise_distances

In [ ]:
euclideon_recommendataion = pd.pivot_table(data = user_data,values='rating',index='userId',columns='movie').fillna(0)
euclideon_recommendataion

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [ ]:
user_data['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [ ]:
euclideon_df = pd.DataFrame(pairwise_distances(X = euclideon_recommendataion,metric='euclidean')).round(2)
euclideon_df.columns = user_data['userId'].unique()
euclideon_df.index   = user_data['userId'].unique()
euclideon_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.00,5.32,5.32,6.10,0.50,8.44,5.50,8.85,5.32,6.22,...,4.03,5.32,1.50,4.03,5.50,5.32,6.36,9.39,6.10,6.04
6,5.32,0.00,5.66,6.40,5.00,7.14,3.16,6.48,5.66,6.52,...,4.47,5.66,4.47,6.93,5.83,5.66,6.65,7.75,6.40,8.26
8,5.32,5.66,0.00,6.40,5.00,5.92,5.83,7.07,0.00,2.55,...,4.47,0.00,4.47,4.00,5.83,5.66,3.50,7.75,1.00,5.68
10,6.10,6.40,6.40,0.00,5.83,9.17,6.56,6.40,6.40,5.61,...,3.61,6.40,5.39,7.55,1.00,6.40,7.30,6.86,7.07,8.79
11,0.50,5.00,5.00,5.83,0.00,8.25,5.20,8.66,5.00,5.96,...,3.61,5.00,1.00,4.12,5.20,5.00,6.10,9.22,5.83,6.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,5.32,5.66,5.66,6.40,5.00,8.66,5.83,9.06,5.66,6.52,...,4.47,5.66,4.47,6.93,5.83,0.00,4.03,9.59,6.40,8.26
7070,6.36,6.65,3.50,7.30,6.10,6.87,6.80,7.89,3.50,4.33,...,5.68,3.50,5.68,5.32,6.80,4.03,0.00,8.50,3.64,6.67
7080,9.39,7.75,7.75,6.86,9.22,6.40,7.21,4.00,7.75,7.18,...,8.25,7.75,8.94,8.72,6.78,9.59,8.50,0.00,7.81,8.26
7087,6.10,6.40,1.00,7.07,5.83,5.83,6.56,7.14,1.00,2.55,...,5.39,1.00,5.39,4.12,6.56,6.40,3.64,7.81,0.00,5.68
7105,6.04,8.26,5.68,8.79,6.10,5.12,6.80,9.07,5.68,6.18,...,7.50,5.68,6.34,4.03,8.38,8.26,6.67,8.26,5.68,0.00

### 3. Using Cosine distance as a Metric for UBCF

In [ ]:
cosine_recommendataion = pd.pivot_table(data = user_data,values='rating',index='userId',columns='movie').fillna(0)
cosine_recommendataion

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [ ]:
cosine_df = pd.DataFrame(1 - pairwise_distances(X = cosine_recommendataion,metric='cosine')).round(2)
cosine_df.columns = user_data['userId'].unique()
cosine_df.index   = user_data['userId'].unique()
cosine_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.71,0.00,0.00,0.00,0.00,0.00,0.55
6,0.00,1.00,0.00,0.00,0.00,0.39,0.71,0.62,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.46,0.00,0.00
8,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,...,0.00,1.00,0.00,0.71,0.00,0.00,0.75,0.46,1.00,0.62
10,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.62,0.00,0.39,...,0.80,0.00,0.00,0.00,0.99,0.00,0.00,0.62,0.00,0.00
11,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.71,0.00,0.00,0.00,0.00,0.00,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1.00,0.66,0.00,0.00,0.00
7070,0.00,0.00,0.75,0.00,0.00,0.49,0.00,0.37,0.75,0.66,...,0.00,0.75,0.00,0.53,0.00,0.66,1.00,0.35,0.75,0.47
7080,0.00,0.46,0.46,0.62,0.00,0.70,0.57,0.89,0.46,0.57,...,0.34,0.46,0.00,0.32,0.65,0.00,0.35,1.00,0.46,0.48
7087,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,...,0.00,1.00,0.00,0.71,0.00,0.00,0.75,0.46,1.00,0.62
7105,0.55,0.00,0.62,0.00,0.55,0.77,0.39,0.31,0.62,0.54,...,0.00,0.62,0.55,0.83,0.00,0.00,0.47,0.48,0.62,1.00

## Applying Data Filtering

In [ ]:
first_20_users = cosine_df.iloc[:20,:20]
first_20_users

,3,6,8,10,11,12,13,14,16,19,22,23,24,31,34,39,47,53,54,58
3,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,0.00,1.00,0.00,0.00,0.00,0.39,0.71,0.62,0.00,0.00,0.44,0.00,0.00,0.00,0.00,0.00,0.42,0.00,0.00,0.00
8,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,1.00
10,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.62,0.00,0.39,0.26,0.41,0.00,0.80,0.42,0.60,0.31,0.60,0.51,0.00
11,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.00,0.39,0.65,0.00,0.00,1.00,0.74,0.56,0.65,0.57,0.84,0.45,0.91,0.00,0.46,0.00,0.85,0.00,0.33,0.65
13,0.00,0.71,0.00,0.00,0.00,0.74,1.00,0.44,0.00,0.00,0.62,0.00,0.43,0.00,0.00,0.00,0.67,0.00,0.00,0.00
14,0.00,0.62,0.49,0.62,0.00,0.56,0.44,1.00,0.49,0.67,0.72,0.59,0.39,0.49,0.61,0.37,0.71,0.37,0.57,0.49
16,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,1.00
19,0.00,0.00,0.87,0.39,0.00,0.57,0.00,0.67,0.87,1.00,0.51,0.85,0.69,0.49,0.62,0.00,0.46,0.00,0.45,0.87
22,0.00,0.44,0.58,0.26,0.00,0.84,0.62,0.72,0.58,0.51,1.00,0.40,0.73,0.00,0.72,0.44,0.95,0.44,0.68,0.58
23,0.51,0.00,0.69,0.41,0.51,0.45,0.00,0.59,0.69,0.85,0.40,1.00,0.54,0.51,0.49,0.00,0.36,0.00,0.35,0.69
24,0.00,0.00,0.79,0.00,0.00,0.91,0.43,0.39,0.79,0.69,0.73,0.54,1.00,0.00,0.56,0.00,0.74,0.00,0.41,0.79
31,0.00,0.00,0.00,0.80,0.00,0.00,0.00,0.49,0.00,0.49,0.00,0.51,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
34,0.00,0.00,0.71,0.42,0.00,0.46,0.00,0.61,0.71,0.62,0.72,0.49,0.56,0.00,1.00,0.71,0.74,0.71,0.97,0.71
39,0.00,0.00,0.00,0.60,0.00,0.00,0.00,0.37,0.00,0.00,0.44,0.00,0.00,0.00,0.71,1.00,0.52,1.00,0.86,0.00
47,0.00,0.42,0.52,0.31,0.00,0.85,0.67,0.71,0.52,0.46,0.95,0.36,0.74,0.00,0.74,0.52,1.00,0.52,0.72,0.52
53,0.00,0.00,0.00,0.60,0.00,0.00,0.00,0.37,0.00,0.00,0.44,0.00,0.00,0.00,0.71,1.00,0.52,1.00,0.86,0.00
54,0.00,0.00,0.51,0.51,0.00,0.33,0.00,0.57,0.51,0.45,0.68,0.35,0.41,0.00,0.97,0.86,0.72,0.86,1.00,0.51
58,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,1.00

In [ ]:
import numpy as np

In [ ]:
np.fill_diagonal(a = first_20_users.to_numpy(),val = 0)

In [ ]:
first_20_users

,3,6,8,10,11,12,13,14,16,19,22,23,24,31,34,39,47,53,54,58
3,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,0.00,0.00,0.00,0.00,0.00,0.39,0.71,0.62,0.00,0.00,0.44,0.00,0.00,0.00,0.00,0.00,0.42,0.00,0.00,0.00
8,0.00,0.00,0.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,1.00
10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.62,0.00,0.39,0.26,0.41,0.00,0.80,0.42,0.60,0.31,0.60,0.51,0.00
11,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.00,0.39,0.65,0.00,0.00,0.00,0.74,0.56,0.65,0.57,0.84,0.45,0.91,0.00,0.46,0.00,0.85,0.00,0.33,0.65
13,0.00,0.71,0.00,0.00,0.00,0.74,0.00,0.44,0.00,0.00,0.62,0.00,0.43,0.00,0.00,0.00,0.67,0.00,0.00,0.00
14,0.00,0.62,0.49,0.62,0.00,0.56,0.44,0.00,0.49,0.67,0.72,0.59,0.39,0.49,0.61,0.37,0.71,0.37,0.57,0.49
16,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,0.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,1.00
19,0.00,0.00,0.87,0.39,0.00,0.57,0.00,0.67,0.87,0.00,0.51,0.85,0.69,0.49,0.62,0.00,0.46,0.00,0.45,0.87
22,0.00,0.44,0.58,0.26,0.00,0.84,0.62,0.72,0.58,0.51,0.00,0.40,0.73,0.00,0.72,0.44,0.95,0.44,0.68,0.58
23,0.51,0.00,0.69,0.41,0.51,0.45,0.00,0.59,0.69,0.85,0.40,0.00,0.54,0.51,0.49,0.00,0.36,0.00,0.35,0.69
24,0.00,0.00,0.79,0.00,0.00,0.91,0.43,0.39,0.79,0.69,0.73,0.54,0.00,0.00,0.56,0.00,0.74,0.00,0.41,0.79
31,0.00,0.00,0.00,0.80,0.00,0.00,0.00,0.49,0.00,0.49,0.00,0.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
34,0.00,0.00,0.71,0.42,0.00,0.46,0.00,0.61,0.71,0.62,0.72,0.49,0.56,0.00,0.00,0.71,0.74,0.71,0.97,0.71
39,0.00,0.00,0.00,0.60,0.00,0.00,0.00,0.37,0.00,0.00,0.44,0.00,0.00,0.00,0.71,0.00,0.52,1.00,0.86,0.00
47,0.00,0.42,0.52,0.31,0.00,0.85,0.67,0.71,0.52,0.46,0.95,0.36,0.74,0.00,0.74,0.52,0.00,0.52,0.72,0.52
53,0.00,0.00,0.00,0.60,0.00,0.00,0.00,0.37,0.00,0.00,0.44,0.00,0.00,0.00,0.71,1.00,0.52,0.00,0.86,0.00
54,0.00,0.00,0.51,0.51,0.00,0.33,0.00,0.57,0.51,0.45,0.68,0.35,0.41,0.00,0.97,0.86,0.72,0.86,0.00,0.51
58,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,0.58,0.69,0.79,0.00,0.71,0.00,0.52,0.00,0.51,0.00

In [ ]:
first_20_users.idxmax()
#Return index of first occurrence of maximum over requested axis.

3     11
6     13
8     16
10    31
11     3
12    24
13    12
14    22
16     8
19     8
22    47
23    19
24    12
31    10
34    54
39    53
47    22
53    39
54    34
58     8
dtype: int64

In [ ]:
user_data[user_data['userId'] == 12]

      userId                               movie  rating
5         12                    Toy Story (1995)     4.0
3728      12             Grumpier Old Men (1995)     3.0
4547      12  Father of the Bride Part II (1995)     2.0
5206      12                         Heat (1995)     3.0
6466      12                      Sabrina (1995)     3.0

In [ ]:
user_data[user_data['userId'] == 24]

      userId                               movie  rating
12        24                    Toy Story (1995)     4.0
4548      24  Father of the Bride Part II (1995)     2.0
5212      24                         Heat (1995)     4.0
6469      24                      Sabrina (1995)     3.0
7449      24                    GoldenEye (1995)     3.0

In [ ]:
user_data[(user_data['userId'] == 12) | (user_data['userId'] == 24)]

      userId                               movie  rating
5         12                    Toy Story (1995)     4.0
12        24                    Toy Story (1995)     4.0
3728      12             Grumpier Old Men (1995)     3.0
4547      12  Father of the Bride Part II (1995)     2.0
4548      24  Father of the Bride Part II (1995)     2.0
5206      12                         Heat (1995)     3.0
5212      24                         Heat (1995)     4.0
6466      12                      Sabrina (1995)     3.0
6469      24                      Sabrina (1995)     3.0
7449      24                    GoldenEye (1995)     3.0

## Inference

**12th user and 24th user share their informations globally for best recommendations.**

# THE END!